on boot
    # Vibrator
    restorecon /sys/class/timed_output/vibrator/level
    chown system system /sys/class/timed_output/vibrator/level
    chmod 666 /sys/class/timed_output/vibrator/level

    # Xperia logo light
    chown system system /sys/class/leds/logo-backlight_1/brightness
    chmod 664 /sys/class/leds/logo-backlight_1/brightness
    chown system system /sys/class/leds/logo-backlight_2/brightness
    chmod 664 /sys/class/leds/logo-backlight_2/brightness
    chown system system /sys/class/leds/logo-backlight_1/use_pattern
    chmod 664 /sys/class/leds/logo-backlight_1/use_pattern
    chown system system /sys/class/leds/logo-backlight_2/use_pattern
    chmod 664 /sys/class/leds/logo-backlight_2/use_pattern

    # led fix
    chown system system /sys/class/leds/pwr-red/use_pattern
    chmod 664 /sys/class/leds/pwr-red/use_pattern
    chown system system /sys/class/leds/pwr-red/brightness
    chmod 664 /sys/class/leds/pwr-red/brightness
    chown system system /sys/class/leds/pwr-green/use_pattern
    chmod 664 /sys/class/leds/pwr-green/use_pattern
    chown system system /sys/class/leds/pwr-green/brightness
    chmod 664 /sys/class/leds/pwr-green/brightness
    chown system system /sys/class/leds/pwr-blue/use_pattern
    chmod 664 /sys/class/leds/pwr-blue/use_pattern
    chown system system /sys/class/leds/pwr-blue/brightness
    chmod 664 /sys/class/leds/pwr-blue/brightness
    chown system system /sys/bus/i2c/devices/10-0040/pattern_data
    chmod 664 /sys/bus/i2c/devices/10-0040/pattern_data
    chown system system /sys/bus/i2c/devices/10-0040/pattern_duration_secs
    chmod 664 /sys/bus/i2c/devices/10-0040/pattern_duration_secs
    chown system system /sys/bus/i2c/devices/10-0040/pattern_use_softdim
    chmod 664 /sys/bus/i2c/devices/10-0040/pattern_use_softdim
    chown system system /sys/bus/i2c/devices/10-0040/pattern_delay
    chmod 664 /sys/bus/i2c/devices/10-0040/pattern_delay
    chown system system /sys/bus/i2c/devices/10-0040/dim_time
    chmod 664 /sys/bus/i2c/devices/10-0040/dim_time

    # io scheduler fix
    chown system system /sys/block/mmcblk1/queue/scheduler
    chmod 664 /sys/block/mmcblk1/queue/scheduler

    # cpu settings fix
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chmod 664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chmod 664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq

on post-fs
    # Touch firmware update
    # write /data/etc/touch_default_module_id 32
    mkdir /data/pc 700 radio radio

