on boot
    # Vibrator
    chown system system /sys/class/timed_output/vibrator/level
    chmod 666 /sys/class/timed_output/vibrator/level

    # Xperia logo light
    chown system system /sys/class/leds/logo-backlight_1/brightness
    chmod 660 /sys/class/leds/logo-backlight_1/brightness
    chown system system /sys/class/leds/logo-backlight_2/brightness
    chmod 660 /sys/class/leds/logo-backlight_2/brightness

on post-fs
    # Touch firmware update
    # write /data/etc/touch_default_module_id 32
    mkdir /data/pc 700 radio radio
